{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2023', 1000, 1],
] %}

{% block address_to %}
  Makina Corpus
  52 rue Jacques Babinet
  31100 Toulouse
{% endblock address_to %}
