{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2023', 500, 1],
] %}

{% block address_to %}
  Emencia
  1 rue Lacuée
  75010 Paris
{% endblock address_to %}
