{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2023', 500, 1],
] %}

{% block address_to %}
  Alkivi
  5 avenue Louise
  59110 La Madeleine
{% endblock address_to %}
