{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2023', 500, 1],
] %}

{% block address_to %}
  MyBeezBox
  6 traverse Jules Guesde
  92100 Boulogne-Billancourt
{% endblock address_to %}
