{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2023', 500, 1],
] %}

{% block address_to %}
  Camptocamp
  Bâtiment le Dauphin - 1er étage
  18 rue du Lac Saint André
  73370 Le Bourget-du Lac
{% endblock address_to %}
