{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Or » à PyConFr 2023', 2000, 1],
] %}

{% block address_to %}
  Alma SAS
  176 Avenue Charles de Gaulle
  92200 Neuilly-sur-Seine
{% endblock address_to %}
