{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
TeMPO Consulting
20, avenue de la Paix
67000 Strasbourg
{% endblock address_to %}
