{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
Odoo Community Association (OCA)
c/o Camptocamp SA
EPFL Innovation Park, Bat. A
1015 Lausanne
Switzerland
{% endblock address_to %}
