{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
Algoo SAS
340, rue de l’Eygala
38430 Moirans
{% endblock address_to %}
