{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
Nexedi
147 Rue du Ballon
59110 La Madeleine
{% endblock address_to %}
