{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
VSC Technologies
2 place de la Défense CNIT 1 - BP 440
92053 Paris La Défense Cedex
{% endblock address_to %}
