{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Platine - Transcription » à PyConFr 2018', 4000, 1],
  ['Avoir - Soutien financier « Argent » à PyConFr 2018', -1000, 1],
] %}

{% block address_to %}
Sewan
2, cité Paradis
75010 PARIS
{% endblock address_to %}
