{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
Yaal
18 rue Gratiolet
33000 BORDEAUX
{% endblock address_to %}
