{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
Makina Corpus
11 rue du Marchix
44000 Nantes
{% endblock address_to %}
