{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
Budget Insight
84 rue Beaubourg
75003 Paris
{% endblock address_to %}
