{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Or » à PyConFr 2018', 2000, 1],
] %}

{% block address_to %}
Back Market
152 boulevard Macdonald
75019 Paris
{% endblock address_to %}
