{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
Invivoo
13 rue de l’abreuvoir
92400 Courbevoie
{% endblock address_to %}
