{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
1000mercis
28 rue de Châteaudun
75009 Paris
{% endblock address_to %}
