{% set quotation = true %}
{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
Planet-Work
231 rue Saint-Honoré
75001 Paris
{% endblock address_to %}
