{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
CIM
8, Avenue de l'Horizon
59650 Villeneuve D’Ascq
{% endblock address_to %}
