{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
Octobus
104 bis rue Saint-Charles
75015 Paris
{% endblock address_to %}
