{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
Citus Data
599 Third St #301
San Francisco, CA 94107
USA
{% endblock address_to %}
