{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
LOGILAB
104 bd Auguste Blanqui
75013 Paris
{% endblock address_to %}
