{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2018', 1000, 1],
] %}

{% block address_to %}
Ecréall
Parc scientifique de la Haute Borne
Bâtiment Hub Innovation
11, rue de l'Harmonie
59650 Villeneuve d'Ascq
{% endblock address_to %}
