{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2018', 500, 1],
] %}

{% block address_to %}
Legalstart.fr
50 rue d'Hauteville
75010 Paris
{% endblock address_to %}
