{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Or » à PyConFr 2019', 2000, 1],
] %}

{% block address_to %}
  Clever Cloud SAS
  3 rue de l’Allier
  44000 Nantes
{% endblock address_to %}
