{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Cœur » à PyConFr 2019', 50, 1],
] %}

{% block address_to %}
  Mergify SAS
  15 rue Pierre Lauzeral
  31400 Toulouse
{% endblock address_to %}
