{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Cœur » à PyConFr 2019', 200, 1],
] %}

{% block address_to %}
  OctopusMind
  2 Place Saint-Pierre
  44000 Nantes
{% endblock address_to %}
