{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2019', 1000, 1],
] %}

{% block address_to %}
  Entr'ouvert SCOP
  169 rue du Château
  75014 Paris
{% endblock address_to %}
