{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2019', 500, 1],
] %}

{% block address_to %}
  Oslandia
  11 rue de la République
  69001 Lyon
{% endblock address_to %}
