{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2019', 1000, 1],
] %}

{% block address_to %}
  Yaal
  18 rue Gratiolet
  33000 Bordeaux
{% endblock address_to %}
