{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Or » à PyConFr 2019', 2000, 1],
] %}

{% block address_to %}
  Invivoo
  24<sup>e</sup> étage
  Tour Franklin – 100-101 Terrasse Boeildieu
  92042 Paris La Défense CEDEX
{% endblock address_to %}
