{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2019', 1000, 1],
] %}

{% block address_to %}
  AiYO Group
  Associate in Your Operations
  9 Avenue de Pythagore
  33700 Mérignac
{% endblock address_to %}
