{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Cœur » à PyConFr 2019', 100, 1],
] %}

{% block address_to %}
  Alves-Info
  34 bis rue Pottier
  93250 VILLEMOMBLE
{% endblock address_to %}
