{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2019', 500, 1],
] %}

{% block address_to %}
  Société ALGOO
  340 rue de l’Eygala
  38430 Moiran
{% endblock address_to %}
