{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Argent » à PyConFr 2019', 1000, 1],
] %}

{% block address_to %}
  MeilleursAgents
  7 boulevard Haussmann
  75009 Paris
{% endblock address_to %}
