{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier « Bronze » à PyConFr 2019', 500, 1],
] %}

{% block address_to %}
  Bearstech
  40 passage des panoramas
  75002 Paris
{% endblock address_to %}
