{% extends '_layout.jinja2' %}

{% set lines = [
  ['Soutien financier à PyConFr 2019', 3000, 1],
] %}

{% block address_to %}
  EuroPython Society
  Ramnebacken 45
  424 38 Agnesberg
  Sweden
{% endblock address_to %}
